.left-underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.left-underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -3px;
  background: hsl(204, 6%, 30%);
  height: 1px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.left-underline:hover:after,
.left-underline:focus:after,
.left-underline:active:after {
  right: 0;
}