@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-hsl: hsl(168, 19%, 64%); */
  --background-hsl: hsl(180, 3%, 83%);
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-hsl);
}